@import '../utils/variables';

.c-cookies {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    &.active {
        display: flex;
        pointer-events: all;
    }
}

.c-cookies__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3px);
    z-index: 0;
}

.c-cookies__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40rem;
    max-width: 95%;
    z-index: 1;
    padding: 4rem 6rem;
    background-color: $white;
    -webkit-box-shadow: 0px 2px 30px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 30px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 30px -10px rgba(0,0,0,0.75);
}

.c-cookies__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c-cookies__title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-size: 3rem;
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
    color: $blue;

    &:after {
        content: '';
        display: block;
        width: 15rem;
        height: .3rem;
        background-color: $blue;
        margin-bottom: 3rem;
    }
}

.c-cookies__text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $darkgray;
    font-size: 1.8rem;
    text-align: center;
}

.c-cookies__picture {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blue;
    padding: 1rem;
    border-radius: 49%;
    width: 10rem;
    height: 10rem;
    flex-shrink: 0;
    margin-bottom: 3rem;
}

.c-cookies__link {
    display: block;
    margin-bottom: 5rem;
    color: $blue;
    font-weight: 700;
}

.c-cookies__ok {
    margin-bottom: 1rem;
}

.c-cookies__ask-later {
    font-size: 1.4rem;
    padding: 0;
    background-color: $white;
    color: $darkgray;
    text-decoration: underline;
    padding: 1rem;
}
