@import '../utils/variables.scss';


.c-login {
    display: flex;
    position: relative;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: $clay;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.78;
    }
}

.c-login__background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}