@import '../utils/variables.scss';

.c-quiz-creator {
    background-color: $white;
    box-sizing: border-box;
    padding-bottom: 5rem;
}

.c-quiz-creator-form {
    display: flex;
    flex-direction: column;
    box-shadow: none;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
}

.js-file-holder, .hover {
    width: 15rem;
    height: 15rem;
    border: 0.2rem dashed $white;
    margin-bottom: 1rem;
    transition: 0.3s border;
    color: $white;
}

.hover {
    border: 0.2rem solid gray;
}

.c-quiz-creator-form__content {
    width: 100%;
}

.c-quiz-creator__step-header {
    margin-bottom: 3rem;
}

.c-quiz-creator__step-title {
    color: $lightred;
    font-size: 2rem;
    font-weight: 400;
}

.c-quiz-creator__input-line {
    margin-bottom: 3rem;
    max-width: 40rem;
}

.c-quiz-creator__dropfile {
    display: flex;
    align-items: center;

    &.o-hidden {
        display: none;
    }
}

.c-quiz-creator__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 10rem 5rem 5rem;
    background-color: $blue;
    margin-bottom: 5rem;
}

.c-quiz-creator__dropfile-wrapper, .c-quiz-creator-wizard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5rem;
    background-color: $blue;
    box-sizing: border-box;
}

.c-quiz-creator-wizard {
    display: block;
}

.c-quiz-creator__dropfile-description-wrapper {
    width: 70%;
}

.c-quiz-creator__description {
    color: $white;
    margin-bottom: 3rem;
    font-size: 1.4rem;

    a {
        color: $white;
    }

    .o-underlined {
        font-size: 2rem;
    }

    &--main {
        color: $black;
        width: 70%;
        font-size: 2rem;
        font-weight: 300;
    }
}

.c-file-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-quiz-creator__step-text {
    font-size: 1.8rem;
    font-weight: 400;
}

.c-quiz-creator__form-content {
    padding: 0 5rem;
}

.c-quiz-creator__title {
    color: $white;
    font-size: 4rem;
    max-width: 50rem;
}

.c-quiz-creator__quiz-types {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.c-quiz-creator__quiz-type-icon {
    width: 5rem;
    height: auto;
    margin-bottom: 1rem;
    pointer-events: none;
}

.c-quiz-creator__quiz-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    flex-shrink: 0;
    width: 15rem;
    height: 15rem;
    padding-top: 3rem;
    padding-bottom: 1.2rem;
    background-color: $white;
    border: 1px solid $lightpurple;
    margin: 0rem 2rem 3rem 2rem;
    font-size: 1.8rem;
    transition: 0.1s background-color;
    box-sizing: border-box;

    &:hover {
        border-color: $blue;
    }

    &.active {
        background-color: rgba($blue, 0.05);
        border-color: $blue;
    }

    &--inactive {
        pointer-events: none;
        opacity: 0.6;
    }

    .o-text {
        pointer-events: none;
    }
}

.c-quiz-creator__tool {
    &.o-hidden {
        display: none;
    }
}

.c-quiz-creator__quiz-types-title {
    margin-right: 2rem;
}

.c-quiz-creator__quiz-types-group {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.c-quiz-creator-wizard__add-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: $white;
    border: 0;
    cursor: pointer;
}

.c-quiz-creator-wizard__add-text {
    display: block;
    font-size: 1.6rem;
    color: $blue;
    margin-right: 4rem;
}

.c-quiz-creator-wizard__add-icon {
    width: 2.3rem;
    height: 2.3rem;
}

.c-add-question-form {
    width: 80%;
    margin: 2rem auto;
}

.c-add-question-form__input {
    font-size: 1.6rem;
    box-sizing: border-box;
    padding: 0.7rem 5rem;
    min-height: 3.5rem;
    color: $white;
    background-color: $blue;
    width: 100%;
    margin: 0;
    border: 0;
    border: 1px solid $white;

    &:focus, &--active {
        color: $blue;
        background-color: $white;
    }
}

.c-add-question-form__input::placeholder {
    color: $white;
}

.c-add-question-form__input--active::placeholder {
    color: $clay;
}

.c-add-question-form__answers {
    box-sizing: border-box;
    padding-left: 3rem;
    border-left: 2px solid $white;
    margin-left: 3rem;
    max-height: 0px;
    overflow: hidden;
    transition: 0.3s max-height ease;
}

.c-add-question-form__answer-line {
    display: flex;
    align-items: center;

    .c-add-question-form__input {
        padding-left: 3rem;
    }
}

.c-add-question-form__checkbox {
    position: relative;
    margin-left: 1rem;
    width: 3.5rem;
    height: 3.5rem;

    &:before {
        content: '';
        display: block;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        width: 3.5rem;
        height: 3.5rem;
        background-color: $blue;
        border: 1px solid $white;
    }

    &:checked:after {
        content: '✓';
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        width: 3.5rem;
        height: 3.5rem;
        color: $white;
    }
}

.c-add-question-form__arrow-fold-svg {
    pointer-events: none;
    transform: rotate(180deg);
}

.c-add-question-form__arrow-fold-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(50% - 1rem);
    left: 2rem;
    padding: 0;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: 0;
}

.c-add-question-form__question-input-wrapper {
    position: relative;
}

.c-add-question-form {
    &--unfolded {
        .c-add-question-form__arrow-fold-svg {
            transform: rotate(90deg);
        }

        .c-add-question-form__answers {
            max-height: 25rem;
        }

        .c-add-question-form__input {
            margin: 1rem 0;
        }
    }
}

.c-quiz-creator__step {
    transition: 0.3s opacity;

    &--hidden {
        pointer-events: none;
        opacity: 0.5;
    }
}
