@import '../utils/variables.scss';

.c-quiz-creator {
    background-color: $lightpurple;
    box-sizing: border-box;

    .o-container {
        padding-top: 10rem;
        min-height: 100vh;
        background-color: $white;
    }

    .o-form {
        display: flex;
        flex-direction: column;
        box-shadow: none;
        width: 100%;
        align-items: flex-start;
        justify-content: flex-start;
    }
}

.js-file-holder, .hover {
    width: 10rem;
    height: 10rem;
    border: 0.2rem dashed gray;
    margin-bottom: 1rem;
    transition: 0.3s border;
}

.hover {
    border: 0.2rem solid gray;
}

.c-quiz-creator-form__content {
    width: 100%;
}

.c-quiz-creator-form__dropfile {
    display: flex;
    align-items: center;

    &.o-hidden {
        display: none;
    }
}

.c-file-holder-status {
    display: block;
    margin-right: 2rem;
}

.c-quiz-creator__quiz-types {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.c-quiz-creator__quiz-type {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-shrink: 0;
    width: 7rem;
    height: 7rem;
    background-color: $white;
    border: 1px solid $purple;
    color: $black;
    font-weight: 500;
    margin: 1rem 1rem 1rem 0;
    font-size: 1.4rem;
    transition: 0.1s background-color;

    &:hover {
        background-color: $purple;
        color: $white;
    }

    &.active {
        background-color: $purple;
        color: $white;
    }

    &--inactive {
        pointer-events: none;
        background-color: $darkgray;
        opacity: 0.3;
    }
}

.c-quiz-creator__tool {
    &.o-hidden {
        display: none;
    }
}

.c-quiz-creator__quiz-types-title {
    margin-right: 2rem;
}

.c-quiz-creator__quiz-types-group {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
