.c-register {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 92vh;
}

.c-register__form-container {
    .o-form {
        max-width: 60rem;
        box-sizing: border-box;
        padding: 5rem;
    }
}
