@import '../utils/variables.scss';

.c-test-hub {
    background-color: $lightgray;
    min-height: calc(100vh - 9rem);

    .o-container {
        background-color: $white;
    }
}

.c-test-hub__table-no-quiz-found {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5rem;
}

.c-test-hub__menu {
    grid-area: test-hub-aside;
    background-color: $white;
    z-index: 2;
    align-self: flex-start;
}

.c-test-hub__main {
    grid-area: test-hub-main;
}

.c-test-hub__menu-item {
    display: block;
    font-size: 1.4rem;
    color: $black;
    padding: 1.2rem 3.5rem;
    text-decoration: none;
    border-bottom: 2px solid $lightgray;
    font-weight: 400;

    &:first-of-type {
        border-top: 0;
    }

    &:hover {
        background-color: $purple;
        color: $white;
    }
}

.c-test-hub__title-container {
    grid-area: test-hub-title;
    padding: 1.85rem;
    background-color: $white;
}

.c-test-hub__title {
    color: $darkgray;
    font-size: 2.2rem;
    font-weight: 300;
    font-weight: 400;
    margin-bottom: 5rem;
}

.c-test-hub__quiz-list {
    padding: 0;
}

.c-test-hub__table-header {
    display: grid;
    grid-template-columns: 5rem 2rem 10rem 1fr 1fr 1fr;
    align-items: start;
    margin-bottom: 1rem;
    background-color: $white;
    padding: 1rem 2rem;
}

.c-test-hub__table-th {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-align: center;
    font-size: 1.4rem;

    &--name {
        grid-column: 1/span 3;
    }

    &--type {
        grid-column: 4;
    }

    &--score {
        grid-column: 5;
    }

    &--rating {
        grid-column: 6;
    }
}

.c-quiz-line {
    display: block;
    background-color: $white;
    margin-bottom: 1rem;
    padding: 1rem 0;
    transition: 0.1s background-color;

    &:hover {
        background-color: $purple;
        .c-quiz-line__title,
        .c-quiz-line__type,
        .c-quiz-line__score,
        .c-quiz-line__rating {
            color: $white;
        }
    }

    &--user-panel {
        border-radius: 0.3rem;
        padding-left: 2rem;
    }

    &--user-panel .c-test-hub__quiz-link {
       cursor: default;
    }

    &--user-panel:hover {
        background-color: $white;
        .c-quiz-line__title,
        .c-quiz-line__type,
        .c-quiz-line__score,
        .c-quiz-line__rating {
            color: $black;
        }
    }

    &:nth-child(4n - 3) {
        .c-quiz-line__circle {
            background-color: $lightred;
        }
    }

    &:nth-child(4n - 2) {
        .c-quiz-line__circle {
            background-color: $green;
        }
    }

    &:nth-child(4n - 1) {
        .c-quiz-line__circle {
            background-color: $yellow;
        }
    }

    &:nth-child(4n) {
        .c-quiz-line__circle {
            background-color: $turquoise;
        }
    }
}

.c-quiz-line__remove {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c-quiz-line__remove-button, .c-quiz-line__show-button {
    box-sizing: border-box;
    border: 0;
    padding: 0.8rem 4rem;
    transition: 0.3s opacity;
    opacity: 1;
    cursor: pointer;
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: 300;
    min-width: 12rem;
    text-align: center;

    &:hover {
        opacity: 0.8;
    }
}

.c-quiz-line__remove-button {
    background-color: $alert;
    color: $white;
    margin-bottom: 1rem;
}

.c-quiz-line__show-button {
    background-color: $blue;
    color: $white;
}

.c-test-hub__quiz-link {
    display: grid;
    grid-template-columns: 5rem 2rem 10rem 1fr 1fr 1fr;
    align-items: stretch;
    justify-items: stretch;
    text-decoration: none;
    color: initial;
    padding-left: 2rem;
}

.c-quiz-line__short {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
}

.c-quiz-line__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: $purple;
    color: $white;
    font-size: 1.8rem;
    border-radius: 49%;
    margin: 1rem;
    width: 3.5rem;
    height: 3.5rem;
    text-transform: uppercase;
}

.c-quiz-line__title-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-column: 2;
}

.c-quiz-line__title {
    display: block;
    white-space: nowrap;
    max-width: 100%;
    font-size: 1.6rem;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
}

.c-quiz-line__type, .c-quiz-line__score, .c-quiz-line__rating {
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-quiz-line__type {
    font-size: 1.2rem;
    grid-column: 4;
}

.c-quiz-line__score {
    font-size: 1.2rem;
    grid-column: 5;
}

.c-quiz-line__rating {
    font-size: 1.2rem;
    grid-column: 6;
}
