@import 'variables.scss';

body, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

    @media (min-width: $md) {
        font-size: 10px;
    }
}

p, b, strong, a {
    font-size: 1.6rem;
    margin: 0;
}

b, strong {
    font-weight: 600;
}

h1, h2, h3 {
    margin: 0;
}

h4, h5, h6 {
    font-size: 1.8rem;
    margin: 0;
}

.c-content, .o-main-content {
    box-sizing: border-box;
    padding-top: 8rem;
    background-color: $lightgray;
}

.o-title {

    &--line {
        display: flex;
        align-items: center;
        &:before {
            content:'';
            display: block;
            margin-right: 1rem;
            width: .3rem;
            height: 3rem;
            background-color: $lightred;
        }
    }

    &--underline {
        text-decoration: underline;
    }

    &--h2 {
        font-size: 2.4rem;
        font-weight: 700;
    }

    &--h4 {
        font-size: 2rem;
    }

    &--h1 {
        font-weight: 700;
        font-size: 2.5rem;
    }

    &--thin {
        font-weight: 300;
    }
}

.o-main-title {
    font-weight: 700;
    font-size: 2.5rem;
}

.o-container {
    max-width: calc(100% - 4rem);
    margin: 0 auto;

    @media(min-width: 800px) {
        max-width: calc(100% - 6rem);
    }

    @media(min-width:1200px) {
        max-width: 1240px;
    }

    &--space-between {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &--with-sidemenu {
        display: grid;
        grid-template-columns: 22rem auto;
        grid-template-rows: auto auto;
        grid-template-areas:
            'with-sidemenu-title with-sidemenu-title'
            'with-sidemenu-aside with-sidemenu-main';
        grid-gap: 2rem;
    }
}

.o-page {
    padding-top: 9rem;
    background-color: #F3F7FA;
    min-height: calc(100vh - 9rem);
}

.o-page__title-container {
    grid-area: with-sidemenu-title;
    padding: 1.85rem;
    background-color: $white;
}

.o-page__title {
    color: $purple;
    font-size: 2.2rem;
    font-weight: 400;
}

.o-page__menu {
    grid-area: with-sidemenu-aside;
    background-color: $white;
    z-index: 2;
    align-self: flex-start;
}

.o-page__menu-item {
    display: block;
    border-bottom: 2px solid $lightgray;

    &:first-child {
        border-top: 0;
    }

    &:hover {
        background-color: $purple;
        .o-page__menu-link {
            color: $white;
        }
    }
}

.o-page__menu-link {
    display: block;
    font-size: 1.4rem;
    color: $black;
    padding: 1.2rem 3.5rem;
    text-decoration: none;
    font-weight: 400;
}

.o-page__main {
    grid-area: with-sidemenu-main;
}

.o-underlined {
    text-decoration: underline;
}

.o-error-container {
    margin: 0;
    position: relative;
}

.o-error-container__text {
    margin-top: 0;
    color: $alert;
}

.o-page-content {
    margin-top: 3rem;
    padding: 1rem 2rem;
    border: 0.4rem dashed $purple;
}

.o-link {
    font-size: 1.8rem;

    &--secondary {
        color: $lightred;
    }
}

.o-button {
    display: block;
    padding: 1.75rem 3.5rem;
    border-radius: 0.5rem;
    text-decoration: none;

    &--primary {
        color: $white;
        font-size: 1.6rem;
        background-color: $blue;
    }
}

.o-input {
    display: block;
    box-sizing: border-box;
    min-height: 5rem;
    padding-left: 5rem;
    border: 0;
    border-bottom: 1px solid $clay;
    width: 100%;
    cursor: pointer;

    &--submit {
        border-radius: 0.5rem;
        padding: 1rem 5rem;
        font-size: 1.6rem;
        color: $white;
        background-color: $blue;
        width: auto;
        font-weight: 400;
    }

    &--inactive {
        pointer-events: none;
        opacity: 0.2;
    }
}

.o-input__line {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 1rem;
    &:last-of-type {
        margin-top: 2rem;
        margin-bottom: 0;
    }
}

.o-input__icon-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0.5rem;
    height: 100%;
}

.o-input__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blue;
    border-radius: 49%;
    width: 3rem;
    height: 3rem;
}

.o-input__icon-letter {
    font-size: 2rem;
    color: $white;
}

.o-hidden {
    display: none;
}

.o-sidemenu {
    position: fixed;
    left: -24rem;
    top: 7rem;
    background-color: $white;
    height: 93rem;
    width: 24rem;
    border-right: solid 0.1rem $blue;
    transition: 0.3s left;
    box-sizing: border-box;

    &:after {
        content: "MENU";
        display: block;
        position: absolute;
        top: 2.5rem;
        right: -0.4rem;
        width: 5rem;
        height: 8rem;
        transform: rotate(90deg);
        font-size: 1.3rem;
        pointer-events: none;
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 2rem;
        right: -2.5rem;
        width: 5rem;
        height: 8rem;
        border-radius: 1rem;
        background-color: $white;
        border: solid 0.1rem $blue;
        box-sizing: border-box;
        z-index: -1;
        cursor: pointer;
    }
}

.o-sidemenu:hover {
    left: 0;
}

.o-sidemenu__list {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 4rem;
    background-color: $white;
}

.o-sidemenu__list-element {
    width: 100%;
}

.o-sidemenu__link {
    display: block;
    width: 100%;
    padding: 2rem 2rem 2rem 7rem;
    text-decoration: none;
    color: $darkgray;
    transition: 0.3s background-color;
    box-sizing: border-box;

    &:hover {
        background-color: rgba($blue, 0.15);
    }
}
