body {
    margin: 0;
}

$md: 758px;
$lg: 1024px;
$vlg: 1600px;

$gray: #99A3A4;
$white: #fff;
$black: #000;
$purple: #7F63F4;
$lightpurple: #F2F0FE;
$blue: #3498DB;
$alert: #E74C3C;
$lightred: #FF4F72;
$lightgray: #F3F7FA;
$clay: #6f6f6f;
$darkgray: #6D6E80;
$green: #7CB31A;
$yellow: #F4B325;
$turquoise: #267D8F;
